# Q-1

In [6]:
print("*,-,/,+ are expressions \n 'hello', -87.8 and 6 are values")

*,-,/,+ are expressions
 'hello', -87.8 and 6 are values

# Q-2

In [12]:
""""A string is a value representing text where as a variable is a name that can refer to any value
like following x,y,z are varibales and 'abc123',"abc",'123' are strings"""

x='abc123'
y="abc"
z='123'

x,y,z

('abc123', 'abc', '123')

# Q-3

#Integer
100

#Float
123.45

#String
'ABC' or '100'

#Boolean
True, False

# Q-4

Expression is a combination of variables, operations and values that yields a result value.

# Q-5

Statements represent an action or command e.g print statements, assignment statements. print 'hello', x = 1. Expression is a combination of variables, operations and values that yields a result value.

# Q-6

In [6]:
bacon = 22
bacon + 1

23

# Q-7

In [10]:
print('spam'+'spamspam', 'spam'*3)

spamspamspam spamspamspam

# Q-8

A variable name cannot start with a number.

# Q-9

In [11]:
str(100),int('100'),float(100)

('100', 100, 100.0)

# Q-10

In [14]:
'I have eaten'+ 99 +'burritos.'

TypeError: can only concatenate str (not "int") to str

In [17]:
'I have eaten'+ str(99) + 'burritos.'

'I have eaten99burritos.'

In [19]:
'I have eaten' + ' 99' + ' burritos.'

'I have eaten 99 burritos.'